@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    /* padding: 50px 80px; */
}
.image-div{
    height: 90%;
    width: 50%;
    background-color: aqua;
    background: #12c2e9;  
    background: #9CECFB; 
    margin-top: 20px;
    /* padding: 30px 0px; */
    /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.image-text{
    height: 60vh;
    width: 70%;
    background-color:rgb(255, 255, 255,0.1);
    margin-top: 90px;
    margin-left: 90px;
    align-items: center;
    padding: 50px 0px;
    
}
.image-text h1{
    font-size: 30px;
    line-height: 38px;
    font-weight: large;
    /* margin-top: 30px; */
    margin-left: 40px;
    color: aliceblue;
}
.text-div{
    height: 90%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
    padding-right: 180px;
    margin-top: 20px;
   background-color: white;
}
.text-div h1{
    font-size: 28px;
    margin-top: 10px;
}
.text-div p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    color: grey;
}
@media(max-width:768px){
 .container{
    width: 100%;
 }
 .image-div{
    width: 50%;
 }
 .image-text{
    margin-left: 0px;
 }
 .text-div{
    width: 50%;
 }
}